body                { font-family: sans-serif; background: rgb(59, 59, 59); }
a, h1, h2           { color: #377ba8; }
h1, h2              { font-family: 'Georgia', serif; margin: 0;}
h1                  { border-bottom: 2px solid #eee; }
h2                  { font-size: 1.2em; }

.page               { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                    padding: 0.8em; background: white; }
.entries            { list-style: none; margin: 0; padding: 0; }
.entries li         { margin: 0.8em 1.2em; }
.entries li h2      { margin-left: -1em; }
.entries img        { align-self: center; }
.entries textarea   { width: 90%; }
.add-entry          { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl       { font-weight: bold; }
.metanav            { text-align: right; font-size: 0.8em; padding: 0.3em;
                    margin-bottom: 1em; background: #fafafa; }
.flash              { background: #cee5F5; padding: 0.5em;
                    border: 1px solid #aacbe2; }
.error              { background: #f0d6d6; padding: 0.5em; }
.img-center         { display:block;  margin-left:auto;  margin-right:auto; }
.share-input-right  { float: right;  clear: both; width: 20%; }
.share-select-center{ background: transparent;  width: 25%; padding: 5px; line-height: 1;  border-radius: 0; -webkit-appearance: none; }
.label-top          { font-weight: bold;  display: block; text-align: center; }
.label-italic          { font-style: italic;  display: block; text-align: center; }